
# IDE/System
*.pyc
.DS_Store
.idea

# Node
node_modules
package-lock.json

# parcel bundler / output files
dist
.cache
functions/lib


# Firebase
.firebase
firebase-debug.log
.runtimeconfig.json
functions/keys