# IDE/System
*.pyc
.DS_Store
.idea

# Node
node_modules
package-lock.json
yarn-error.log

# parcel bundler / output files
dist
.cache
fb-functions/lib


# Firebase
.firebase
firebase-debug.log
firestore-debug.log
.runtimeconfig.json
fb-functions/keys

# Tests
.nyc_output
coverage

# CyPress
cypress

# Nextjs
.next
/public/sw.js
/public/workbox-*.js

.env

.vercel