# IDE/System
*.pyc
.DS_Store
.idea

# Node
node_modules
package-lock.json
yarn-error.log

# parcel bundler / output files
dist
.cache
functions/lib


# Firebase
.firebase
firebase-debug.log
firestore-debug.log
.runtimeconfig.json
functions/keys

# Tests
.nyc_output
coverage

# CyPress
cypress/fixtures
cypress/support